In [2]:
#import librairies

import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
from matplotlib import style
from datetime import datetime

In [30]:
df_database.to_excel('Data/S&PCompanies.xlsx', engine='xlsxwriter')

In [5]:
df_changeSP = pd.read_excel("Data/SPchangeWiki.xlsx")
df_changeSP

,Date,Ticker,Security_added,Ticker.1,Security_removed,Reason
0,"October 12, 2020",NaN,NaN,NBL,Noble Energy,Chevron acquired Noble Energy.[6]
1,"October 9, 2020",VNT,Vontier,NaN,NaN,S&P 500 constituent Fortive spun off Vontier.[6]
2,"October 7, 2020",POOL,Pool Corporation,ETFC,E*TRADE Financial,Morgan Stanley acquired E*TRADE.[7]
3,"September 21, 2020",ETSY,Etsy,HRB,H&R Block,Market capitalization change.[8]
4,"September 21, 2020",TER,Teradyne,COTY,Coty Inc.,Market capitalization change.[8]
...,...,...,...,...,...,...
254,"December 5, 2000",SBL,Symbol Technologies,OI,Owens-Illinois,Market Cap changes.
255,"December 5, 2000",AYE,Allegheny Energy,GRA,W.R. Grace,Market Cap changes.
256,"December 5, 2000",ABK,Ambac Financial,CCK,Crown Holdings,Market Cap changes.
257,"July 27, 2000",JDSU,JDS Uniphase,RAD,RiteAid,Market Cap change.[206]
258,"December 7, 1999",YHOO,Yahoo!,LDW,Laidlaw,Market Cap change.[207]

In [64]:
tickers = []
dates = []
for i in range(len(df_changeSP['Date'].values)):
    if pd.notna(df_changeSP['Ticker'].values[i]):
        dates.append(df_changeSP['Date'].values[i])
        tickers.append(df_changeSP['Ticker'].values[i])
        #print(df_changeSP['Date'].values[i])
        #print(df_changeSP['Ticker Symbol'].values[i])
print(len(dates))
print(tickers)

255
['VNT', 'POOL', 'ETSY', 'TER', 'CTLT', 'BIO', 'TDY', 'TYL', 'WST', 'DPZ', 'DXCM', 'OTIS', 'CARR', 'GDI', 'PAYC', 'LYV', 'ZBRA', 'STE', 'ODFL', 'WRB', 'NOW', 'LVS', 'NVR', 'CDW', 'LDOS', 'IEX', 'TMUS', 'MKTX', 'BMS', 'CTVA', 'DOW', 'WAB', 'ATO', 'TFX', 'FRC', 'CE', 'LW', 'MXIM', 'FANG', 'JKHY', 'KEYS', 'FTNT', 'ROL', 'WCG', 'ANET', 'CPRT', 'FLT', 'BR', 'HFC', 'TWTR', 'EVRG', 'ABMD', 'MSCI', 'TTWO', 'SIVB', 'NKTR', 'IPGP', 'HII', 'NCLH', 'CDNS', 'SBAC', 'Q', 'BHF', 'DRE', 'AOS', 'PKG', 'RMD', 'MGM', 'HLT', 'ALGN', 'ANSS', 'RE', 'INFO', 'IT', 'DXC', 'AMD', 'RJF', 'ARE', 'SNPS', 'DISH', 'REG', 'CBOE', 'INCY', 'IDXX', 'MAA', 'EVHC', 'ARNC', 'COTY', 'COO', 'CHTR', 'MTD', 'FTV', 'LNT', 'ALB', 'FBHS', 'UA', 'TDG', 'AJG', 'LKQ', 'DLR', 'ALK', 'AYI', 'GPN', 'ULTA', 'FL', 'HOLX', 'CNC', 'UDR', 'AWK', 'CXO', 'CFG', 'FRT', 'EXR', 'WLTW', 'CHD', 'CSRA', 'ILMN', 'SYF', 'HPE', 'VRSK', 'CMCSK', 'FOX', 'NWS', 'UAL', 'ATVI', 'SIG', 'PYPL', 'AAP', 'KHC', 'CPGX', 'JBHT', 'BXLT', 'QRVO', 'O', 'AAL', 'EQIX', 'SLG', 'HBI', 'HSIC', 'SWKS', 'HCA', 'ENDP', 'RCL', 'LVLT', 'URI', 'UHS', 'MNK', 'DISCK', 'MLM', 'AMG', 'XEC', 'AVGO', 'UA', 'NAVI', 'GOOGL', 'ESS', 'GMCR', 'TSCO', 'ADS', 'MHK', 'FB', 'GGP', 'ALLE', 'KORS', 'RIG', 'VRTX', 'AME', 'DAL', 'NLSN', 'FOXA', 'ZTS', 'GM', 'KSU', 'MAC', 'REGN', 'PVH', 'ABBV', 'DLPH', 'GRMN', 'DG', 'PETM', 'KRFT', 'ADT', 'PNR', 'LYB', 'ESV', 'STX', 'MNST', 'LRCX', 'ALXN', 'KMI', 'PSX', 'FOSL', 'CCI', 'WPX', 'TRIP', 'BWA', 'PRGO', 'DLTR', 'GAS', 'CBE', 'XYL', 'TEL', 'MOS', 'ACN', 'MPC', 'ANR', 'CMG', 'BLK', 'EW', 'COV', 'JOY', 'CVC', 'FFIV', 'NFLX', 'NFX', 'IR', 'TYC', 'CB', 'QEP', 'KMX', 'CERN', 'HP', 'V', 'MJN', 'CLF', 'SAIC', 'PCLN', 'ARG', 'HRL', 'VTR', 'OI', 'HRS', 'CRM', 'FAST', 'LO', 'RRC', 'GME', 'JEC', 'EXPE', 'TDC', 'TSO', 'ICE', 'LUK', 'KFT', 'AVB', 'JNPR', 'STZ', 'ESRX', 'INTU', 'SBL', 'AYE', 'ABK', 'JDSU', 'YHOO']

In [72]:
stocks = []
entree = []
sortie = []

for i in range(len(df_changeSP['Ticker'].values)):
    if pd.notna(df_changeSP['Ticker'].values[i]):
        for j in range(len(df_changeSP['Ticker.1'].values)):
            if df_changeSP['Ticker.1'].values[j] == df_changeSP['Ticker'].values[i]:
                stocks.append(df_changeSP['Ticker.1'].values[j])
                sortie.append(pd.Timestamp(datetime.strptime(df_changeSP['Date'].values[j], '%B %d, %Y').date()))
                entree.append(pd.Timestamp(datetime.strptime(df_changeSP['Date'].values[i], '%B %d, %Y').date()))

In [73]:
changeFlow = pd.DataFrame(stocks,columns=['stocks'])
changeFlow

   stocks
0     TER
1     BMS
2    MXIM
3     WCG
4    NKTR
..    ...
57    SBL
58    AYE
59    ABK
60   JDSU
61   YHOO

[62 rows x 1 columns]

In [74]:
changeFlow['entree'] = entree
changeFlow['sortie'] = sortie
changeFlow.to_excel('Data/changeTick.xlsx', engine='xlsxwriter')

In [30]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading https://files.pythonhosted.org/packages/22/f1/a02eea03628865c3d4c29849cda8c8a73f43358048aee47d79dfbfa6c6c3/pandas_datareader-0.9.0-py3-none-any.whl (107kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 112kB 244kB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (0.25.1)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.7/site-packages (from pandas_datareader) (4.4.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (1.17.2)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (2.8.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.12.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pandas_datareader import data
start_date = '2006-01-01'
end_date = '2019-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.

SP_data = data.DataReader(['SPY','VOO','IVV'], 'yahoo', start_date, end_date)['Volume']
#SP_data = SP_data.pct_change()
SP_data = SP_data.fillna(0)
SP_data

Symbols            SPY        VOO        IVV
Date
2006-01-03  73256700.0        0.0  4768100.0
2006-01-04  51899600.0        0.0  1156500.0
2006-01-05  47307500.0        0.0  1278600.0
2006-01-06  62885900.0        0.0   824200.0
2006-01-09  43527400.0        0.0  1341300.0
...                ...        ...        ...
2019-12-24  20270000.0  1305900.0  2716300.0
2019-12-26  30911200.0  2390300.0  2847400.0
2019-12-27  42528800.0  2225400.0  5091400.0
2019-12-30  49729100.0  2345400.0  3511400.0
2019-12-31  57077300.0  2512700.0  3128900.0

[3523 rows x 3 columns]

In [4]:
SP_data["Total Volume"] = SP_data["SPY"]+SP_data["VOO"]+SP_data["IVV"]

ETF_data = SP_data
del ETF_data['SPY']
del ETF_data["VOO"]
del ETF_data['IVV']
ETF_data

Symbols     Total Volume
Date
2006-01-03    78024800.0
2006-01-04    53056100.0
2006-01-05    48586100.0
2006-01-06    63710100.0
2006-01-09    44868700.0
...                  ...
2019-12-24    24292200.0
2019-12-26    36148900.0
2019-12-27    49845600.0
2019-12-30    55585900.0
2019-12-31    62718900.0

[3523 rows x 1 columns]

In [110]:
SP_data["Total Volume"].to_excel('Data/TotalVolumeETF.xlsx', engine='xlsxwriter')

In [5]:
SP500_data = data.DataReader('^GSPC', 'yahoo', start_date, end_date)['Adj Close']
SP500_data = SP500_data.pct_change()
SP500_data

Date
2006-01-03         NaN
2006-01-04    0.003673
2006-01-05    0.000016
2006-01-06    0.009399
2006-01-09    0.003656
                ...
2019-12-24   -0.000195
2019-12-26    0.005128
2019-12-27    0.000034
2019-12-30   -0.005781
2019-12-31    0.002946
Name: Adj Close, Length: 3523, dtype: float64

In [6]:
index = []
for value in SP_data.index:
    index.append(pd.Timestamp(value))

SP_data.index = index

In [86]:
#create dummy with condition for all stocks
for i in range(len(changeFlow['stocks'])):
    SP_data[changeFlow['stocks'][i]] = ((SP_data.index >= changeFlow['entree'].values[i]) & (SP_data.index < changeFlow['sortie'].values[i]))*1

In [7]:
SP_data

Symbols     Total Volume
2006-01-03    78024800.0
2006-01-04    53056100.0
2006-01-05    48586100.0
2006-01-06    63710100.0
2006-01-09    44868700.0
...                  ...
2019-12-24    24292200.0
2019-12-26    36148900.0
2019-12-27    49845600.0
2019-12-30    55585900.0
2019-12-31    62718900.0

[3523 rows x 1 columns]

In [81]:
SP_data.to_excel('Data/test.xlsx', engine='xlsxwriter')

In [88]:
from pandas_datareader import data
test = SP_data.iloc[:,6:]
test.columns
data = data.DataReader(test.columns, 'yahoo', start_date, end_date)

/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'WCG', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'Q', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'CMCSK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'CPGX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'BXLT', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'LVLT', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'GMCR', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'GGP', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'KRFT', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ESV', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'JOY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'CVC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'MJN', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ARG', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'LO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'JDSU', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'YHOO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [89]:
data

Attributes   Adj Close                                                       \
Symbols            TER BMS       MXIM       NKTR        BHF        AMD EVHC
Date
2003-01-02   13.208933 NaN  21.035997   8.560000        NaN   7.010000  NaN
2003-01-03   13.331149 NaN  21.077169   9.080000        NaN   6.940000  NaN
2003-01-06   14.402906 NaN  22.500357   8.890000        NaN   7.160000  NaN
2003-01-07   14.534525 NaN  22.406261   8.710000        NaN   7.170000  NaN
2003-01-08   14.017451 NaN  21.435904   8.180000        NaN   6.690000  NaN
...                ...  ..        ...        ...        ...        ...  ...
2020-11-16  107.180000 NaN  82.089996  16.950001  34.700001  83.730003  NaN
2020-11-17  105.910004 NaN  80.760002  17.559999  34.490002  83.360001  NaN
2020-11-18  104.820000 NaN  79.260002  17.110001  33.959999  82.540001  NaN
2020-11-19  106.470001 NaN  81.180000  17.270000  34.110001  85.540001  NaN
2020-11-20  106.330002 NaN  80.470001  16.760000  34.009998  84.639999  NaN

Attributes                               ... Volume                           \
Symbols     COTY         AYI         FL  ...    GGP KRFT ESV JOY CVC MJN ARG
Date                                     ...
2003-01-02   NaN    9.607013   6.943866  ...    NaN  NaN NaN NaN NaN NaN NaN
2003-01-03   NaN    9.491344   6.737428  ...    NaN  NaN NaN NaN NaN NaN NaN
2003-01-06   NaN   10.096889   6.687378  ...    NaN  NaN NaN NaN NaN NaN NaN
2003-01-07   NaN    9.960809   6.693635  ...    NaN  NaN NaN NaN NaN NaN NaN
2003-01-08   NaN    9.457325   6.681125  ...    NaN  NaN NaN NaN NaN NaN NaN
...          ...         ...        ...  ...    ...  ...  ..  ..  ..  ..  ..
2020-11-16  5.32  107.989998  39.720001  ...    NaN  NaN NaN NaN NaN NaN NaN
2020-11-17  5.11  107.959999  40.020000  ...    NaN  NaN NaN NaN NaN NaN NaN
2020-11-18  5.30  109.769997  39.939999  ...    NaN  NaN NaN NaN NaN NaN NaN
2020-11-19  6.25  112.339996  41.330002  ...    NaN  NaN NaN NaN NaN NaN NaN
2020-11-20  6.05  109.860001  39.279999  ...    NaN  NaN NaN NaN NaN NaN NaN

Attributes
Symbols     LO JDSU YHOO
Date
2003-01-02 NaN  NaN  NaN
2003-01-03 NaN  NaN  NaN
2003-01-06 NaN  NaN  NaN
2003-01-07 NaN  NaN  NaN
2003-01-08 NaN  NaN  NaN
...         ..  ...  ...
2020-11-16 NaN  NaN  NaN
2020-11-17 NaN  NaN  NaN
2020-11-18 NaN  NaN  NaN
2020-11-19 NaN  NaN  NaN
2020-11-20 NaN  NaN  NaN

[4505 rows x 354 columns]

In [93]:
data_fin.to_excel('Data/data_stock_price.xlsx', engine='xlsxwriter')

In [8]:
#download all data for stock 
df_1 = pd.read_excel("Data/data_stock_1.xlsx")
df_1 = df_1.dropna()

df_2 = pd.read_excel("Data/data_stock_2.xlsx")
df_2 = df_2.dropna()

df_3 = pd.read_excel("Data/data_stock_3.xlsx")
df_3 = df_3.dropna()

df_4 = pd.read_excel("Data/data_stock_4.xlsx")
df_4 = df_4.dropna()

df_5 = pd.read_excel("Data/data_stock_5.xlsx")
df_5 = df_5.dropna()

df_6 = pd.read_excel("Data/data_stock_6.xlsx")
df_6 = df_6.dropna()

df_7 = pd.read_excel("Data/data_stock_7.xlsx")
df_7 = df_7.dropna()

In [9]:
#aggregate all data
data = df_1
data = data.append(df_2)
data = data.append(df_3)
data = data.append(df_4)
data = data.append(df_5)
data = data.append(df_6)
data = data.append(df_7)
data

,Instrument,Date,Price Close,P/E (Daily Time Series Ratio),Return On Equity - Mean,Volume,Company Market Cap,Ask Price,Bid Price
2297,AAL.OQ,2015-02-25T00:00:00Z,49.73,12.641817,150.82080,1988576.0,3.464440e+10,42.00,41.99
2298,AAL.OQ,2015-02-26T00:00:00Z,49.35,12.545217,150.82080,1300627.0,3.437967e+10,42.71,42.70
2299,AAL.OQ,2015-02-27T00:00:00Z,47.90,12.176614,150.82080,1699608.0,3.336953e+10,42.25,42.24
2300,AAL.OQ,2015-03-02T00:00:00Z,48.31,12.280840,150.82080,2928631.0,3.365515e+10,43.14,43.13
2301,AAL.OQ,2015-03-03T00:00:00Z,48.77,12.397776,150.10540,1926757.0,3.397561e+10,43.20,43.19
...,...,...,...,...,...,...,...,...,...
116614,ZTS.N,2019-12-24T00:00:00Z,132.92,43.533939,71.61114,167970.0,6.330970e+10,120.98,120.94
116615,ZTS.N,2019-12-26T00:00:00Z,133.03,43.569966,71.61114,388934.0,6.336209e+10,119.61,119.57
116616,ZTS.N,2019-12-27T00:00:00Z,133.25,43.642021,71.61114,463295.0,6.346688e+10,122.43,122.42
116617,ZTS.N,2019-12-30T00:00:00Z,132.21,43.301400,71.61114,320304.0,6.297152e+10,123.30,123.26
116618,ZTS.N,2019-12-31T00:00:00Z,132.35,43.347253,71.61114,481807.0,6.303821e+10,124.22,124.17

In [10]:
data = data.rename(columns={'P/E (Daily Time Series Ratio)': 'P/E','Return On Equity - Mean':'ROE'})
data["Spread Bid-Ask"] = data["Ask Price"] - data["Bid Price"]
data

,Instrument,Date,Price Close,P/E,ROE,Volume,Company Market Cap,Ask Price,Bid Price,Spread Bid-Ask
2297,AAL.OQ,2015-02-25T00:00:00Z,49.73,12.641817,150.82080,1988576.0,3.464440e+10,42.00,41.99,0.01
2298,AAL.OQ,2015-02-26T00:00:00Z,49.35,12.545217,150.82080,1300627.0,3.437967e+10,42.71,42.70,0.01
2299,AAL.OQ,2015-02-27T00:00:00Z,47.90,12.176614,150.82080,1699608.0,3.336953e+10,42.25,42.24,0.01
2300,AAL.OQ,2015-03-02T00:00:00Z,48.31,12.280840,150.82080,2928631.0,3.365515e+10,43.14,43.13,0.01
2301,AAL.OQ,2015-03-03T00:00:00Z,48.77,12.397776,150.10540,1926757.0,3.397561e+10,43.20,43.19,0.01
...,...,...,...,...,...,...,...,...,...,...
116614,ZTS.N,2019-12-24T00:00:00Z,132.92,43.533939,71.61114,167970.0,6.330970e+10,120.98,120.94,0.04
116615,ZTS.N,2019-12-26T00:00:00Z,133.03,43.569966,71.61114,388934.0,6.336209e+10,119.61,119.57,0.04
116616,ZTS.N,2019-12-27T00:00:00Z,133.25,43.642021,71.61114,463295.0,6.346688e+10,122.43,122.42,0.01
116617,ZTS.N,2019-12-30T00:00:00Z,132.21,43.301400,71.61114,320304.0,6.297152e+10,123.30,123.26,0.04
116618,ZTS.N,2019-12-31T00:00:00Z,132.35,43.347253,71.61114,481807.0,6.303821e+10,124.22,124.17,0.05

In [15]:
joiner_df = pd.read_excel("Data/joiner.xlsx")
joiner_df.index = joiner_df['Date']
dates_j = []

#for value in joiner_df.index.values:
    #x = re.search(r"^(.*?)T", str(value))
    #new_date = pd.Timestamp(x.group(1))
    #dates_j.append(new_date)

#joiner_df.index = dates_j
joiner_df

,Unnamed: 0,Instrument,Date,Change,Constituent RIC,Constituent Name
Date,,,,,,
2006-01-03T00:00:00Z,0,.SPX,2006-01-03T00:00:00Z,Joiner,WFM.OQ^H17,Whole Foods
2006-01-03T00:00:00Z,1,.SPX,2006-01-03T00:00:00Z,Joiner,VIAC.OQ,ViacomCBS
2006-01-03T00:00:00Z,2,.SPX,2006-01-03T00:00:00Z,Joiner,VIAB.OQ^L19,Viacom
2006-01-05T00:00:00Z,3,.SPX,2006-01-05T00:00:00Z,Joiner,EL.N,Estee Lauder
2006-02-01T00:00:00Z,4,.SPX,2006-02-01T00:00:00Z,Joiner,HAR.N^C17,HARMAN
...,...,...,...,...,...,...
2019-12-05T00:00:00Z,375,.SPX,2019-12-05T00:00:00Z,Joiner,WRB.N,W R Berkley
2019-12-09T00:00:00Z,376,.SPX,2019-12-09T00:00:00Z,Joiner,ODFL.OQ,Old Dominion
2019-12-23T00:00:00Z,377,.SPX,2019-12-23T00:00:00Z,Joiner,ZBRA.OQ,Zebra Tech
2019-12-23T00:00:00Z,378,.SPX,2019-12-23T00:00:00Z,Joiner,STE.N,Steris
2019-12-23T00:00:00Z,379,.SPX,2019-12-23T00:00:00Z,Joiner,LYV.N,Live Nation

In [16]:
RIC = joiner_df[["Constituent RIC","Constituent Name"]]
RIC = RIC.rename(columns={'Constituent RIC': 'Instrument',"Constituent Name": "Company Name"})
RIC["Entry Date"] = RIC.index.values
RIC

                       Instrument  Company Name            Entry Date
Date
2006-01-03T00:00:00Z   WFM.OQ^H17   Whole Foods  2006-01-03T00:00:00Z
2006-01-03T00:00:00Z      VIAC.OQ     ViacomCBS  2006-01-03T00:00:00Z
2006-01-03T00:00:00Z  VIAB.OQ^L19        Viacom  2006-01-03T00:00:00Z
2006-01-05T00:00:00Z         EL.N  Estee Lauder  2006-01-05T00:00:00Z
2006-02-01T00:00:00Z    HAR.N^C17        HARMAN  2006-02-01T00:00:00Z
...                           ...           ...                   ...
2019-12-05T00:00:00Z        WRB.N   W R Berkley  2019-12-05T00:00:00Z
2019-12-09T00:00:00Z      ODFL.OQ  Old Dominion  2019-12-09T00:00:00Z
2019-12-23T00:00:00Z      ZBRA.OQ    Zebra Tech  2019-12-23T00:00:00Z
2019-12-23T00:00:00Z        STE.N        Steris  2019-12-23T00:00:00Z
2019-12-23T00:00:00Z        LYV.N   Live Nation  2019-12-23T00:00:00Z

[380 rows x 3 columns]

In [17]:
data_m = data.merge(RIC,on='Instrument', how='left')
data_m.index = data_m['Date']
del data_m['Date']

data_m

,Instrument,Price Close,P/E,ROE,Volume,Company Market Cap,Ask Price,Bid Price,Spread Bid-Ask,Company Name,Entry Date
Date,,,,,,,,,,,
2015-02-25T00:00:00Z,AAL.OQ,49.73,12.641817,150.82080,1988576.0,3.464440e+10,42.00,41.99,0.01,American Airline,2015-03-23T00:00:00Z
2015-02-26T00:00:00Z,AAL.OQ,49.35,12.545217,150.82080,1300627.0,3.437967e+10,42.71,42.70,0.01,American Airline,2015-03-23T00:00:00Z
2015-02-27T00:00:00Z,AAL.OQ,47.90,12.176614,150.82080,1699608.0,3.336953e+10,42.25,42.24,0.01,American Airline,2015-03-23T00:00:00Z
2015-03-02T00:00:00Z,AAL.OQ,48.31,12.280840,150.82080,2928631.0,3.365515e+10,43.14,43.13,0.01,American Airline,2015-03-23T00:00:00Z
2015-03-03T00:00:00Z,AAL.OQ,48.77,12.397776,150.10540,1926757.0,3.397561e+10,43.20,43.19,0.01,American Airline,2015-03-23T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24T00:00:00Z,ZTS.N,132.92,43.533939,71.61114,167970.0,6.330970e+10,120.98,120.94,0.04,Zoetis,2013-06-24T00:00:00Z
2019-12-26T00:00:00Z,ZTS.N,133.03,43.569966,71.61114,388934.0,6.336209e+10,119.61,119.57,0.04,Zoetis,2013-06-24T00:00:00Z
2019-12-27T00:00:00Z,ZTS.N,133.25,43.642021,71.61114,463295.0,6.346688e+10,122.43,122.42,0.01,Zoetis,2013-06-24T00:00:00Z
2019-12-30T00:00:00Z,ZTS.N,132.21,43.301400,71.61114,320304.0,6.297152e+10,123.30,123.26,0.04,Zoetis,2013-06-24T00:00:00Z
2019-12-31T00:00:00Z,ZTS.N,132.35,43.347253,71.61114,481807.0,6.303821e+10,124.22,124.17,0.05,Zoetis,2013-06-24T00:00:00Z

In [29]:
data_m["isSP500"] =(data_m.index.values > data_m['Entry Date'])*1
data_m

,Instrument,Price Close,P/E,ROE,Volume,Company Market Cap,Ask Price,Bid Price,Spread Bid-Ask,Company Name,Entry Date,isSP500
Date,,,,,,,,,,,,
2015-02-25T00:00:00Z,AAL.OQ,49.73,12.641817,150.82080,1988576.0,3.464440e+10,42.00,41.99,0.01,American Airline,2015-03-23T00:00:00Z,0
2015-02-26T00:00:00Z,AAL.OQ,49.35,12.545217,150.82080,1300627.0,3.437967e+10,42.71,42.70,0.01,American Airline,2015-03-23T00:00:00Z,0
2015-02-27T00:00:00Z,AAL.OQ,47.90,12.176614,150.82080,1699608.0,3.336953e+10,42.25,42.24,0.01,American Airline,2015-03-23T00:00:00Z,0
2015-03-02T00:00:00Z,AAL.OQ,48.31,12.280840,150.82080,2928631.0,3.365515e+10,43.14,43.13,0.01,American Airline,2015-03-23T00:00:00Z,0
2015-03-03T00:00:00Z,AAL.OQ,48.77,12.397776,150.10540,1926757.0,3.397561e+10,43.20,43.19,0.01,American Airline,2015-03-23T00:00:00Z,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24T00:00:00Z,ZTS.N,132.92,43.533939,71.61114,167970.0,6.330970e+10,120.98,120.94,0.04,Zoetis,2013-06-24T00:00:00Z,1
2019-12-26T00:00:00Z,ZTS.N,133.03,43.569966,71.61114,388934.0,6.336209e+10,119.61,119.57,0.04,Zoetis,2013-06-24T00:00:00Z,1
2019-12-27T00:00:00Z,ZTS.N,133.25,43.642021,71.61114,463295.0,6.346688e+10,122.43,122.42,0.01,Zoetis,2013-06-24T00:00:00Z,1
2019-12-30T00:00:00Z,ZTS.N,132.21,43.301400,71.61114,320304.0,6.297152e+10,123.30,123.26,0.04,Zoetis,2013-06-24T00:00:00Z,1
2019-12-31T00:00:00Z,ZTS.N,132.35,43.347253,71.61114,481807.0,6.303821e+10,124.22,124.17,0.05,Zoetis,2013-06-24T00:00:00Z,1

In [30]:
import re
dates = []
dates_entry = []
for value in data_m.index.values:
    x = re.search(r"^(.*?)T", str(value))
    new_date = pd.Timestamp(x.group(1))
    dates.append(new_date)

for value in data_m['Entry Date'].values:
    x = re.search(r"^(.*?)T", str(value))
    new_date = pd.Timestamp(x.group(1))
    dates_entry.append(new_date)
    
data_m.index = dates
data_m['Entry Date'] = dates_entry
data_m

,Instrument,Price Close,P/E,ROE,Volume,Company Market Cap,Ask Price,Bid Price,Spread Bid-Ask,Company Name,Entry Date,isSP500
2015-02-25,AAL.OQ,49.73,12.641817,150.82080,1988576.0,3.464440e+10,42.00,41.99,0.01,American Airline,2015-03-23,0
2015-02-26,AAL.OQ,49.35,12.545217,150.82080,1300627.0,3.437967e+10,42.71,42.70,0.01,American Airline,2015-03-23,0
2015-02-27,AAL.OQ,47.90,12.176614,150.82080,1699608.0,3.336953e+10,42.25,42.24,0.01,American Airline,2015-03-23,0
2015-03-02,AAL.OQ,48.31,12.280840,150.82080,2928631.0,3.365515e+10,43.14,43.13,0.01,American Airline,2015-03-23,0
2015-03-03,AAL.OQ,48.77,12.397776,150.10540,1926757.0,3.397561e+10,43.20,43.19,0.01,American Airline,2015-03-23,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,ZTS.N,132.92,43.533939,71.61114,167970.0,6.330970e+10,120.98,120.94,0.04,Zoetis,2013-06-24,1
2019-12-26,ZTS.N,133.03,43.569966,71.61114,388934.0,6.336209e+10,119.61,119.57,0.04,Zoetis,2013-06-24,1
2019-12-27,ZTS.N,133.25,43.642021,71.61114,463295.0,6.346688e+10,122.43,122.42,0.01,Zoetis,2013-06-24,1
2019-12-30,ZTS.N,132.21,43.301400,71.61114,320304.0,6.297152e+10,123.30,123.26,0.04,Zoetis,2013-06-24,1
2019-12-31,ZTS.N,132.35,43.347253,71.61114,481807.0,6.303821e+10,124.22,124.17,0.05,Zoetis,2013-06-24,1

In [114]:
data.to_excel('Data/agregatedData.xlsx', engine='xlsxwriter')

In [35]:
#doanload etf data
dates = []
etf_data = pd.read_excel("Data/etf_data.xlsx",sheet_name="etf_data")
etf_data.index = etf_data['Date']

for value in etf_data.index.values:
    x = re.search(r"^(.*?)T", str(value))
    new_date = pd.Timestamp(x.group(1))
    dates.append(new_date)
    
etf_data.index = dates
del etf_data['Date']
etf_data

             Total NAV  Total Volume
2006-01-02  249.572765    78024800.0
2006-01-03  253.701363    53056100.0
2006-01-04  254.681101    48586100.0
2006-01-05  254.684100    63710100.0
2006-01-06  257.137807    44868700.0
...                ...           ...
2019-12-25  643.813760           NaN
2019-12-26  647.170659           NaN
2019-12-27  647.203358           NaN
2019-12-30  643.537480           NaN
2019-12-31  645.476933           NaN

[3652 rows x 2 columns]

In [45]:
#finish_data = pd.merge(data_m,etf_data, how='left', on='Date')
finish_data = data_m.join(etf_data)

#finish_data.index = finish_data['Date']
#finish_data = finish_data.drop(finish_data.columns[1],axis=1)
finish_data['Date'] =finish_data.index
finish_data = finish_data.sort_values(by=['Instrument','Date'])
finish_data["growth Total NAV"] = finish_data['Total NAV'].pct_change()
finish_data = finish_data.dropna()
finish_data

,Instrument,Price Close,P/E,ROE,Volume,Company Market Cap,Ask Price,Bid Price,Spread Bid-Ask,Company Name,Entry Date,isSP500,Total NAV,Total Volume,Date,growth Total NAV
2015-02-26,AAL.OQ,49.35,12.545217,150.82080,1300627.0,3.437967e+10,42.71,42.70,0.01,American Airline,2015-03-23,0,424.245395,190369600.0,2015-02-26,-0.001310
2015-02-27,AAL.OQ,47.90,12.176614,150.82080,1699608.0,3.336953e+10,42.25,42.24,0.01,American Airline,2015-03-23,0,422.993305,143704300.0,2015-02-27,-0.002951
2015-03-02,AAL.OQ,48.31,12.280840,150.82080,2928631.0,3.365515e+10,43.14,43.13,0.01,American Airline,2015-03-23,0,425.601481,110341600.0,2015-03-02,0.006166
2015-03-03,AAL.OQ,48.77,12.397776,150.10540,1926757.0,3.397561e+10,43.20,43.19,0.01,American Airline,2015-03-23,0,423.683776,124279900.0,2015-03-03,-0.004506
2015-03-04,AAL.OQ,48.95,12.443534,150.10540,1551096.0,3.410101e+10,43.84,43.83,0.01,American Airline,2015-03-23,0,421.912969,183157600.0,2015-03-04,-0.004180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-27,ZTS.N,112.76,40.682760,68.97071,358221.0,5.397327e+10,97.77,97.75,0.02,Zoetis,2013-06-24,1,584.871916,24292200.0,2019-06-27,0.003972
2019-06-28,ZTS.N,113.49,40.946138,68.97071,1151534.0,5.432269e+10,98.73,98.72,0.01,Zoetis,2013-06-24,1,588.271139,36148900.0,2019-06-28,0.005812
2019-07-01,ZTS.N,113.57,40.975001,68.97071,470897.0,5.426616e+10,98.51,98.50,0.01,Zoetis,2013-06-24,1,592.785267,49845600.0,2019-07-01,0.007674
2019-07-02,ZTS.N,114.59,41.343007,68.97071,379883.0,5.475354e+10,99.64,99.62,0.02,Zoetis,2013-06-24,1,594.539701,55585900.0,2019-07-02,0.002960
2019-07-03,ZTS.N,115.34,41.613600,68.97071,265325.0,5.511191e+10,97.95,97.93,0.02,Zoetis,2013-06-24,1,599.244482,62718900.0,2019-07-03,0.007913

In [46]:
del finish_data['Ask Price']
del finish_data["Bid Price"]
del finish_data["Total NAV"]
del finish_data["Price Close"]
finish_data

,Instrument,P/E,ROE,Volume,Company Market Cap,Spread Bid-Ask,Company Name,Entry Date,isSP500,Total Volume,Date,growth Total NAV
2015-02-26,AAL.OQ,12.545217,150.82080,1300627.0,3.437967e+10,0.01,American Airline,2015-03-23,0,190369600.0,2015-02-26,-0.001310
2015-02-27,AAL.OQ,12.176614,150.82080,1699608.0,3.336953e+10,0.01,American Airline,2015-03-23,0,143704300.0,2015-02-27,-0.002951
2015-03-02,AAL.OQ,12.280840,150.82080,2928631.0,3.365515e+10,0.01,American Airline,2015-03-23,0,110341600.0,2015-03-02,0.006166
2015-03-03,AAL.OQ,12.397776,150.10540,1926757.0,3.397561e+10,0.01,American Airline,2015-03-23,0,124279900.0,2015-03-03,-0.004506
2015-03-04,AAL.OQ,12.443534,150.10540,1551096.0,3.410101e+10,0.01,American Airline,2015-03-23,0,183157600.0,2015-03-04,-0.004180
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-27,ZTS.N,40.682760,68.97071,358221.0,5.397327e+10,0.02,Zoetis,2013-06-24,1,24292200.0,2019-06-27,0.003972
2019-06-28,ZTS.N,40.946138,68.97071,1151534.0,5.432269e+10,0.01,Zoetis,2013-06-24,1,36148900.0,2019-06-28,0.005812
2019-07-01,ZTS.N,40.975001,68.97071,470897.0,5.426616e+10,0.01,Zoetis,2013-06-24,1,49845600.0,2019-07-01,0.007674
2019-07-02,ZTS.N,41.343007,68.97071,379883.0,5.475354e+10,0.02,Zoetis,2013-06-24,1,55585900.0,2019-07-02,0.002960
2019-07-03,ZTS.N,41.613600,68.97071,265325.0,5.511191e+10,0.02,Zoetis,2013-06-24,1,62718900.0,2019-07-03,0.007913

In [48]:
agr_data_final = finish_data.join(SP500_data)
#agr_data_final['Date'] = agr_data_final.index
agr_data_final = agr_data_final.sort_values(by=['Instrument','Date'])
agr_data_final

,Instrument,P/E,ROE,Volume,Company Market Cap,Spread Bid-Ask,Company Name,Entry Date,isSP500,Total Volume,Date,growth Total NAV,Adj Close
2015-02-26,AAL.OQ,12.545217,150.82080,1300627.0,3.437967e+10,0.01,American Airline,2015-03-23,0,190369600.0,2015-02-26,-0.001310,-0.001476
2015-02-27,AAL.OQ,12.176614,150.82080,1699608.0,3.336953e+10,0.01,American Airline,2015-03-23,0,143704300.0,2015-02-27,-0.002951,-0.002956
2015-03-02,AAL.OQ,12.280840,150.82080,2928631.0,3.365515e+10,0.01,American Airline,2015-03-23,0,110341600.0,2015-03-02,0.006166,0.006125
2015-03-03,AAL.OQ,12.397776,150.10540,1926757.0,3.397561e+10,0.01,American Airline,2015-03-23,0,124279900.0,2015-03-03,-0.004506,-0.004539
2015-03-04,AAL.OQ,12.443534,150.10540,1551096.0,3.410101e+10,0.01,American Airline,2015-03-23,0,183157600.0,2015-03-04,-0.004180,-0.004389
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-27,ZTS.N,40.682760,68.97071,358221.0,5.397327e+10,0.02,Zoetis,2013-06-24,1,24292200.0,2019-06-27,0.003972,0.003823
2019-06-28,ZTS.N,40.946138,68.97071,1151534.0,5.432269e+10,0.01,Zoetis,2013-06-24,1,36148900.0,2019-06-28,0.005812,0.005757
2019-07-01,ZTS.N,40.975001,68.97071,470897.0,5.426616e+10,0.01,Zoetis,2013-06-24,1,49845600.0,2019-07-01,0.007674,0.007672
2019-07-02,ZTS.N,41.343007,68.97071,379883.0,5.475354e+10,0.02,Zoetis,2013-06-24,1,55585900.0,2019-07-02,0.002960,0.002928
2019-07-03,ZTS.N,41.613600,68.97071,265325.0,5.511191e+10,0.02,Zoetis,2013-06-24,1,62718900.0,2019-07-03,0.007913,0.007672

In [49]:
#agr_data_final['Date'] = agr_data_final.index
agr_data_final = agr_data_final.rename(columns={'Total Volume': 'Total Volume ETF','Adj Close':'Return S&P500'})
agr_data_final

,Instrument,P/E,ROE,Volume,Company Market Cap,Spread Bid-Ask,Company Name,Entry Date,isSP500,Total Volume ETF,Date,growth Total NAV,Return S&P500
2015-02-26,AAL.OQ,12.545217,150.82080,1300627.0,3.437967e+10,0.01,American Airline,2015-03-23,0,190369600.0,2015-02-26,-0.001310,-0.001476
2015-02-27,AAL.OQ,12.176614,150.82080,1699608.0,3.336953e+10,0.01,American Airline,2015-03-23,0,143704300.0,2015-02-27,-0.002951,-0.002956
2015-03-02,AAL.OQ,12.280840,150.82080,2928631.0,3.365515e+10,0.01,American Airline,2015-03-23,0,110341600.0,2015-03-02,0.006166,0.006125
2015-03-03,AAL.OQ,12.397776,150.10540,1926757.0,3.397561e+10,0.01,American Airline,2015-03-23,0,124279900.0,2015-03-03,-0.004506,-0.004539
2015-03-04,AAL.OQ,12.443534,150.10540,1551096.0,3.410101e+10,0.01,American Airline,2015-03-23,0,183157600.0,2015-03-04,-0.004180,-0.004389
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-27,ZTS.N,40.682760,68.97071,358221.0,5.397327e+10,0.02,Zoetis,2013-06-24,1,24292200.0,2019-06-27,0.003972,0.003823
2019-06-28,ZTS.N,40.946138,68.97071,1151534.0,5.432269e+10,0.01,Zoetis,2013-06-24,1,36148900.0,2019-06-28,0.005812,0.005757
2019-07-01,ZTS.N,40.975001,68.97071,470897.0,5.426616e+10,0.01,Zoetis,2013-06-24,1,49845600.0,2019-07-01,0.007674,0.007672
2019-07-02,ZTS.N,41.343007,68.97071,379883.0,5.475354e+10,0.02,Zoetis,2013-06-24,1,55585900.0,2019-07-02,0.002960,0.002928
2019-07-03,ZTS.N,41.613600,68.97071,265325.0,5.511191e+10,0.02,Zoetis,2013-06-24,1,62718900.0,2019-07-03,0.007913,0.007672

In [50]:
agr_data_final.head(100)

,Instrument,P/E,ROE,Volume,Company Market Cap,Spread Bid-Ask,Company Name,Entry Date,isSP500,Total Volume ETF,Date,growth Total NAV,Return S&P500
2015-02-26,AAL.OQ,12.545217,150.8208,1300627.0,3.437967e+10,0.01,American Airline,2015-03-23,0,190369600.0,2015-02-26,-0.001310,-0.001476
2015-02-27,AAL.OQ,12.176614,150.8208,1699608.0,3.336953e+10,0.01,American Airline,2015-03-23,0,143704300.0,2015-02-27,-0.002951,-0.002956
2015-03-02,AAL.OQ,12.280840,150.8208,2928631.0,3.365515e+10,0.01,American Airline,2015-03-23,0,110341600.0,2015-03-02,0.006166,0.006125
2015-03-03,AAL.OQ,12.397776,150.1054,1926757.0,3.397561e+10,0.01,American Airline,2015-03-23,0,124279900.0,2015-03-03,-0.004506,-0.004539
2015-03-04,AAL.OQ,12.443534,150.1054,1551096.0,3.410101e+10,0.01,American Airline,2015-03-23,0,183157600.0,2015-03-04,-0.004180,-0.004389
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-07-14,AAL.OQ,9.181642,139.7772,3054150.0,2.913912e+10,0.01,American Airline,2015-03-23,1,131071200.0,2015-07-14,0.004453,0.004453
2015-07-15,AAL.OQ,9.068127,139.7772,3894242.0,2.877886e+10,0.01,American Airline,2015-03-23,1,128903000.0,2015-07-15,-0.000737,-0.000735
2015-07-16,AAL.OQ,9.035382,139.7772,4420357.0,2.867494e+10,0.01,American Airline,2015-03-23,1,93744400.0,2015-07-16,0.008045,0.008015
2015-07-17,AAL.OQ,9.037565,139.7772,2911420.0,2.781337e+10,0.02,American Airline,2015-03-23,1,100343200.0,2015-07-17,0.001089,0.001106
2015-07-20,AAL.OQ,8.852011,140.9188,1645755.0,2.724232e+10,0.01,American Airline,2015-03-23,1,68568500.0,2015-07-20,0.000871,0.000771

In [203]:
agr_data_final.to_excel('Data/agregatedData_final.xlsx', engine='xlsxwriter')

In [51]:
agr_data_final.to_csv('Data/agregatedData_final.csv')